<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="lab.kulebin.mydictionary">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".app.EntryActivity"/>
        <activity android:name=".app.SignInActivity"/>
        <activity android:name=".app.EditActivity"/>

        <provider
            android:name=".EntryProvider"
            android:authorities="lab.kulebin.mydictionary.app.EntryProvider"
            android:exported="false"/>

        <service android:name=".service.FetchDataService"/>
    </application>

</manifest>