<?xml version="1.0" encoding="utf-8"?>
<manifest package="lab.kulebin.mydictionary"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/APP_NAME"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".app.EntryActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".app.MainActivity"/>
        <activity
            android:name=".app.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".app.EditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".app.SearchActivity"
            android:label=""
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".app.ErrorDialogActivity"
            android:theme="@style/ErrorDialogTheme"/>

        <provider
            android:name=".EntryProvider"
            android:authorities="lab.kulebin.mydictionary.app.EntryProvider"
            android:exported="false"/>

        <service android:name=".service.FetchDataService"/>

    </application>

</manifest>